* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #fff;
}

body {
	font: 13px Helvetica, Arial;
	min-width: 1024px;
}

#instructionsoverlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	cursor: pointer;
}

#instructionstext {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 15px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#gamediv {
	/* height: 100%;
	width: 100%; */
	position: relative;
}

canvas {
	background-color: rgba(0, 0, 0, 0);
}

#turncontrols {
	display: none;
}

#chargecontainer {
	padding: 5px;
	background-color: red;
	width: 410px;
	position: relative;
}

#chargebar {
	background-color: blue;
	width: 1px;
	height: 15px;
	transform-origin: 0 0;
}

#socialbox {
	height: 260px;
	position: fixed;
	bottom: 0px;
	white-space: nowrap;
	min-width: 1024px;
	padding: 10px;
}

div.floatleft {
	float: left;
}

div.floatright {
	float: right;
}

#usersonline {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 240px;
	overflow: auto;
	border: 1px solid #bbb;
	width: 150px;
	border-right: 0px;
}

#usersonline .labels {
	font-weight: bold;
	background: #bbb;
	color: #fff;
	width: 100%;
	padding: 5px;
	margin-bottom: 6px;
}

#usersonline li {
	padding: 5px 5px 0px 5px;
	color: #666;
}

#messagesbox {
	width: 500px;
	background: #8db7fc;
	height: 240px;
}

#weaponselection {
	width: 100px;
	background: white;
	display: block;
}

form {
	background: #8db7fc;
	padding: 3px;
	white-space: nowrap;
}

#chat-channel {
	width: 15%;
	float: left;
	/* width: 49px; */
	margin: 0px;
	padding: 0px;
	background: #8db7fc;
	border: none;
	padding: 10px;
	cursor: pointer;
}

form input {
	border: 0;
	padding: 10px;
	margin-right: .5%;
	/* float: left; */
	width: calc(85% - 52px);
}

form button {
	width: 49px;
	margin: 0px;
	padding: 0px;
	background: #8db7fc;
	border: none;
	float: right;
	padding: 10px;
	cursor: pointer;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 199px;
	overflow: auto;
	border: 1px solid #bbb;
	border-bottom: 0px;
}

#messages li {
	padding: 5px 10px;
	background: rgba(255, 255, 255, 0.3);
	color: #8db7fc;
}

#messages li:nth-child(odd) {
	color: #0e3a82;
}

#useroptions {
	list-style-type: none;
	margin: 0 0 0 10px;
	padding: 0;
	height: 240px;
	overflow: auto;
	bottom: 0px;
	background: transparent;
}

#useroptions button {
	background: #099617;
	padding: 5px;
	width: 150px;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	border: 0px;
	margin-bottom: 5px;
	cursor: pointer;
	background-image: linear-gradient(#33ce43, #099617);
}